<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/places/tabs/offers/' + place.id"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Título</ion-label>
            <ion-input formControlName="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descrição</ion-label>
            <ion-input formControlName="description"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Preço</ion-label>
            <ion-input number formControlName="price"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">URL da Imagem</ion-label>
            <ion-input formControlName="imageUrl"></ion-input>
          </ion-item>

          <ion-button color="primary" class="ion-margin" (click)="this.save()">
            Salvar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
