<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe detail</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteRecipe()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="recipe.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>
          {{ recipe.title }}
        </h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item padding-top-sm>
    <ion-label color="primary">
      Ingredients:
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let ingredient of recipe.ingrediends">
      {{ ingredient }}
    </ion-item>
  </ion-list>
</ion-content>
