<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-end ion-justify-content-center">
      <ion-col size="4">
        Linha 1 coluna 1
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <h1>A coluna</h1>
            <p>Linha 1 colunadasd 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
